BPE_WEBSITE = "Example.com"
BPE_WEBSITE_KEY = "KEY"
BPE_SECRET_KEY = "SECRET"
BPE_MODE = "test"
BPE_DEBUG = true
BPE_REPORT_ERROR = true

BPE_EXAMPLE_BASE_URL = "https://example.com/buckaroo/"
BPE_EXAMPLE_RETURN_URL = "${BPE_EXAMPLE_BASE_URL}return"
BPE_EXAMPLE_PUSH_URL = "${BPE_EXAMPLE_BASE_URL}push"
BPE_EXAMPLE_IP = "127.0.0.1"
BPE_EXAMPLE_CURRENCY_CODE = "EUR"
