name: CheckStyleAndLint

on:
  pull_request:
    paths:
      - "src/**.php"
      - "example/**.php"

jobs:
  phpcs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.4, 8.1]
        stability: [prefer-stable]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: cs2pr, phplint, phpcs

      - name: Run phplint
        run: phplint --no-configuration --no-cache --no-interaction ./src/* ./example/*

      - name: Run phpcs
        run: phpcs -q --standard=PSR12 --report=checkstyle --extensions=php ./src/* ./example/* | cs2pr
